@import '../../../../styles/common/css/themes/default.css';

.numberKeyboardHeader {
    position: relative;
    text-align: center;
}

.closeIcon {
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    width: 1rem;
    height: 1rem;
}

.numberKeyboardTitle {
    line-height: 2.5rem;
    font-size: 1rem;
}

.numberList {
    position: relative;
    width: 100%;
    padding: 1.2rem 0;
    border-top: 1px solid $color9;
    border-bottom: 1px solid $color5;    
}

.numberListWrapper {
    width: 92%;
    max-width: 25rem;
    margin: auto;
    font-size: 0;
}
.numberListWrapper:after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
}

.numberItem {
    display: inline-block;
    text-align: center;
    width: 16.66%;
    margin-left: -0.0625rem;
    border: 0.0625rem solid $color5;
    border-right: none;
}

.numberItem:first-child {
     margin-left: -0.125rem;
}

/* 实现自适应正方形 */
.numberItem:before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
    width: .1rem;
    vertical-align: middle;
}

.numberItem span{
    display: inline-block;
    vertical-align: middle;
    height: 1.5625rem;
    font-size: 2rem;
}

.numberItem:first-child{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.numberItem:last-child {
    border-right: 0.0625rem solid $color5;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.active {
    border: 0.0625rem solid $color3;
    border-right: none;
}
.active:last-child {
    border-right: 0.0625rem solid $color3;
}


.numberKeyboardBody {
    width: 100%;
    /* 解决数字键块之间有 间距 */
    border-collapse: collapse;
}

.numberKeyboardItem {
    position: relative;
    width: 33.34%;
    height: 3rem;
    text-align: center;
    border-right: 1px solid $color9;
    border-bottom: 1px solid $color9;
    font-size: 1.5rem;
    color: #2a2b2c;
}

.numberKeyboardItem:nth-child(3n) {
    border-right: none;
}

.numberKeyboardBody tr:nth-child(4n) .numberKeyboardItem {
    border-bottom: none;
}

.numberKeyboardBody tr:nth-child(4n) .numberKeyboardItem:nth-child(odd) {
    background-color: $color8;
    border: 1px solid $color8;
}

.backspaceIcon {
    width: 2.3rem;
}